@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&family=Bungee+Shade&family=Silkscreen&display=swap');
body{
    background-color: beige;
    font-family: 'Anybody', cursive;
    margin-left: auto;
    margin-right: auto;
    
    }

header,h2, h1{
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

#formheading, #home-intro{
    text-align: center;
}

table,
td {
    border: 1px solid #333;
    
}

thead,tfoot {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even){
    background-color: darkgray;
}

a
{
    text-decoration: none;
    color: dimgray;
}

.Photo, #contactdetails{
    text-align: center;
}

footer{
    text-align: center;
}

 #profphoto {
    text-align: center;
    border-radius: 50%;
    height: 250px;
}    

.twlogo, #twlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    background-image: none;
    border-radius: 50%;
    margin-top: -10px;
}

#overview{
    margin-left: 200px;
    margin-right: 200px;
}

a:hover{
    color: black;
}

form{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    
}

fieldset{
    border: none;
    padding-bottom: 2rem;
    padding-top: 2rem;
    
}

input{
    width: 100%;
    background-color: burlywood;
    border: 1px solid beige;
    min-height: 15px;
}

.inline{
    width: unset;
}

#Submit:hover,#Reset:hover{
    color: white;
}

input[type="submit"], input[type="reset"] {
    margin: 0 auto;
    font-size: 1rem;
    font-family: 'Silkscreen', cursive;
    border-color: white;
  }

  #canva-profile, #Introduction, .evaluation, #Table, #TabularData, #Courses, #scripts{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  }

  #query{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  }


.btn{
font-family: 'Silkscreen', cursive;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #453333;
padding: 10px 30px;
border: solid #542727 2px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;


}

.btn:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #ebdab5;
color: #453333;
border: solid 2px #453333;

}

#polybtn{
   margin: 100px auto;
    
}

