<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
    <p>
        Designed by Tochway Consulting Inc.
    
    </p>
    <div id="validation">
    <a id="validation_link_html" href="https://validator.w3.org/check?uri=referer">
        <img src="../images/one_button_validation_html5.png" alt="html button">
    </a>
    <script>document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    </script>
    <a id="validation_link_css" href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="../images/one_button_validation_css.png" alt="html button">
    </a>
    <script>document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
 
    </script>
    </div>
    </footer>
</body>
</html>