<!DOCTYPE html>
<html lang="en">
    <header>
        <img src="../clientproject/images/x-image2.jpg" alt="brand-logo" id="x-logo">
        <nav>     
            <ul>
                <li><a href="../clientproject/index.html">Home</a></li>
                <li><a href="#">Careers</a>
                    <ul class="dropdown">
                        <li><a href="../clientproject/swe.html">Software Engineer</a></li>
                        <li><a href="../clientproject/cybersecurity.html">CyberSecurity Engineer</a></li>
                        <li><a href="../clientproject/productmanager.html">Product Manager</a></li>
                        <li><a href="../clientproject/designer.html">UI/UX Designer</a></li>
                        <li><a href="../clientproject/analyst.html">Data Analyst</a></li>
                      </ul>
                </li>
                <li><a href="../clientproject/about-us.html">About us</a></li>
                <li><a href="../clientproject/gallery.html">Gallery</a></li>
            </ul>
        </nav>
    </header>
</html>