<!DOCTYPE html>
<html>
<footer>
    <nav>
        <a href="https://www.linkedin.com/in/tochukwu-nwakalor" target="_blank">LinkedIn ||</a>
        <a href="https://github.com/tnwakalor/tnwakalor.github.io" target="blank">Github ||</a>
        <a href="contact.html">Contact ||</a>
        <a href="https://www.freecodecamp.org/tochinwakalor" target="blank">FreecodeCamp ||</a>
        <a href="https://www.codecademy.com/profiles/tnwakalor" target="blank">CodeAcademy</a>

    </nav>
    <p>
        Designed by 
        <a href="tochwayconsulting.com/tochwayconsulting.html"> 
            Tochway Consulting
        </a>
    </p>
    <a id="validation_link_html" href="https://validator.w3.org/check?uri=referer">
        <img src="images/one_button_validation_html5.png" alt="html button">
    </a>
    
    <a id="validation_link_css" href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="images/one_button_validation_css.png" alt="html button">
    </a>
</footer>
</html>