<!DOCTYPE html>
<header>
    <h1>ITIS 3135 | Tochukwu Nwakalor</h1>
    <nav>
        <a href="index.html">Home ||</a>
        <a href="introduction.html">Introduction ||</a>
        <a href="tables.html">Tables ||</a>
        <a href="courses.html">Courses ||</a>
        <a href="forms.html">Forms ||</a>
        <a href="contact.html">Contact ||</a>
        <a href="firstscripts.html">Scripts ||</a>
        <a href="website_evaluations.html">Website Evaluations ||</a>
        <a href="stuff/RAND $$.html">Disabled Webpage ||</a>
        <a href="polygons.html">Polygons ||</a>
        <a href="calculator.html">Calculator</a>
    </nav>
</header>
</html>